<div class="signup-form">
  <form class="form-horizontal" [formGroup]="tourForm"  (ngSubmit)="addTour($event)">

    <div class="form-group">
      <label class="control-label col-xs-4">Nazwa</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="name"  formControlName="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4">Kraj</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="country"    formControlName="country">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4">Opis</label>
      <div class="col-xs-8">
        <textarea  class="form-control" name="description"    formControlName="description">
        </textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4">Cena</label>
      <div class="col-xs-8">
        <input type="number" class="form-control"  name="price"   formControlName="price">
      </div>
      <div class="help-block m-1" >
        <small style="color: #df4930">Hasła różnią się</small>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4">Ilość miejsc</label>
      <div class="col-xs-8">
        <input type="number" class="form-control"  name="places"   formControlName="places">
      </div>
      <div class="help-block m-1" >
        <small style="color: #df4930">Hasła różnią się</small>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-8 col-xs-offset-4">
        <button type="submit" class="btn btn-success btn-lg">Dodaj wycieczkę</button>
<!--        <button type="submit"  class="btn btn-primary btn-lg" style="background-color: #555f77">Stwórz konto</button>-->
      </div>
    </div>
  </form>
</div>
