

html, body {
    height: 100%;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        max-width: none;
    }
    .fill-screen {
        min-height: auto !important;
        height:auto;
    }


}

.fill-screen {
    min-height: 100vh;
}

nav{
    background-color:#0c5460 ;
    min-width:250px;
}

nav .card{
    background-color:#0c5460 ;
    color:white;
    border: none;
}



nav .card-body .btn{
    min-width:90px;
}

.jumbotron{
    height: 400px;
}