
<div *ngIf="_tour" class="container">
<li class="media list-group-item">
  <div class="row">
    <div  class="col-3 border-right">
      <img src="{{_tour.imageUrl[0]}}"
           class="mr-3 rounded-circle" width="250px" height="250px">
      <ks-modal-gallery [id]="1" [modalImages]="images"
                        [plainGalleryConfig]="plainGalleryRow"></ks-modal-gallery>
    </div>
    <div class="col-9">

      <h3>{{_tour.country | uppercase}} {{_tour.name | uppercase}}
        <small class="float-right">    Data: <b class="text-primary"> {{_tour.start | date:'shortDate'}} </b> do <b class="text-primary">{{_tour.end |date:'shortDate'}}</b> </small>

      </h3>
      <p>{{_tour.description}}

      </p>
      <div class="row w-100">
        <div class="col-4">
      <b>Cena: <h3 [ngClass] = "'text-info'">{{_tour.price | currency:'PLN'}}</h3> </b>
        </div>
      <div class="col-8">
        <div  class="form-group" [formGroup]="tourForm" >
          <button type="button" [ngClass] = "placesClass" >Ilość miejsc {{_tour.places}}/{{_tour.maxPlaces}}</button>
          <button type="button"  [disabled]="!tourForm.valid || _tour.places<=0" [ngClass] = "reservationClass" (click)="makeReservation(tourForm.get('places').value)">Rezerwuj</button>

          <label class="control-label" style="margin-left: 10px">Ilość miejsc
              <input type="number" class="form-control"  name="places"   formControlName="places">
            </label>


            <div *ngIf="tourForm.get('places').touched &&  tourForm.get('places').errors?.required" class="help-block m-1" >
              <small style="color: #df4930">Pole jest wymagane</small>
            </div>

            <div *ngIf="tourForm.get('places').touched && tourForm.get('places').errors?.min" class="help-block m-1">
              <small style="color: #df4930">Wartość musi być wieksza od 0</small>
            </div>
            <div *ngIf="tourForm.get('places').touched && tourForm.get('places').errors?.max" class="help-block m-1">
              <small style="color: #df4930">Na tą wycieczkę nie ma już tylu miejsc</small>
            </div>
          </div>



      </div>

      </div>
        <div class="row w-100">
          <div class="col-4" style="    color: dodgerblue;
    font-size: large;">

          <b style="    color: black;">Ocena:</b><ngb-rating [(rate)]="userRate"></ngb-rating> {{_tour.rate}}/5
          </div>
          <div class="col-8">

          <button type="button"  [ngClass] = "'btn btn-dark'">Zarezerwowano: {{tourForm.get('places').value }}</button>
        <button type="button"  [ngClass] = "'btn btn-dark'">Łączny koszt: {{tourForm.get('places').value * _tour.price }}</button>
          <button type="button" [disabled]="_tour.places==_tour.maxPlaces" [ngClass] = "resignationClass" (click)="removeReservation();tourForm.get('places').reset(0)">Zrezygnuj</button>
          </div>
        </div>

    </div>
  </div>
  <app-comments *ngIf="_tour"  [tour]="_tour"></app-comments>

</li>
</div>
