<footer id="sticky-footer" class="py-4 bg-light">
  <div class="container-fluid ">
    <div class="row">

      <div class="col-4">
        <small>
        <p> telefon: 8798789897</p>
        <p> adres: Gorzów ul. Główna 67</p>
      </small>
      </div>
      <div class="col-4 text-center">
        <h3>
 Biuro Turystyczne Itaka
        </h3>
      </div>
      <div class="col-4" >
        <img src="https://kariera.itaka.pl/img/logo-big.png"  width="70%" height="60px">

      </div>
    </div>

  </div>
</footer>
