<div class="container-fluid">
  <div class="row">

    <div class="col-3" >
      <app-filter (filters)="filter($event)"  [tours]="_tours"></app-filter>
    </div>

    <div class="col-9" >


      <ng-template #content let-modal >
        <div class="container-fluid" style="width:550px;background-color: white">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Dodaj wycieczkę</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            <app-new-tour (added)="modal.dismiss();updateTours()"></app-new-tour>
          </div>
        </div>
      </ng-template>


      <div class="row">
        <div class="row" style="width:100%">
          <div class="col-4 p-0" >
            <button class="btn btn-success" (click)="open(content)" >Dodaj wycieczkę</button>
          </div>
          <div class="col-4 p-0">
          </div>
          <div class="col-4 p-0">
            <app-cart-menu></app-cart-menu>
          </div>
        </div>
        <ul class="list-group" *ngFor="let t of ( toursWithStyle | dynamicFilter:filters)">
          <app-admin-tour [tour]="t.tour"  (toDelete)="deleteTour($event)" (toUpdate)="updateTours()"></app-admin-tour>
        </ul>
      </div>

      <app-information></app-information>
    </div>
  </div>
</div>



