<li class="media list-group-item">
  <div class="row">
    <div class=" d-none d-lg-block col-3 border-right" [routerLink]="'tour-short-info/'+ _tour._id" >
      <img src="{{_tour.imageUrl[0]}}"
           class="mr-3 rounded-circle" width="200px" height="200px">
    </div>
    <div class="col-9">

      <h4>{{_tour.country | uppercase}} {{_tour.name | uppercase}}
 <small class="float-right">    Data: <b class="text-primary"> {{_tour.start | date:'shortDate'}} </b> do <b class="text-primary">{{_tour.end |date:'shortDate'}}</b> </small>

 </h4>
      <p>{{_tour.description}}
       <b>Ocena:</b><ngb-rating [(rate)]="_userRate" (hover)="hoveredRate=$event" (leave)="hoveredRate=0" ></ngb-rating> {{_tour.rate}}/5
      </p>
      <b>Cena: <h3 [ngClass] = "priceStyle">{{_tour.price | currency:'PLN'}}</h3> </b>
      <div class="float-right">
        <button type="button" [ngClass] = "placesClass" >Ilość miejsc {{_tour.places}}/{{_tour.maxPlaces}}</button>
        <button type="button" [disabled]="_tour.places<=0" [ngClass] = "reservationClass" [routerLink]="'tour-short-info/'+ _tour._id">Rezerwuj</button>
        <button type="button"  class="btn btn-primary" [routerLink]="'tour-short-info/'+ _tour._id">Szczegóły</button>
      </div>

    </div>
  </div>

</li>
